.input {

  width: 100%;
  height: 50px;

  background-color: var(--secondary);

  font-size: .8125rem;

  border: 1px solid transparent;
  border-radius: 3px;

  padding: 0px 25px;

  transition: all .1s;

}

.input::placeholder {

  color: var(--secondary-text);

}

.input:focus {

  background-color: transparent;
  border-color: var(--primary-opp);

}

.input:not(:placeholder-shown) {

  border-color: var(--primary-opp);

}

