.image-crop {

  position: relative;

  width: 100%;
  height: 240px;

  border-radius: 3px;

  overflow: hidden;

  /* background-color: white; */

}

.reactEasyCrop_Container {

  background-color: var(--border);

}
