.container {

  width: 100%;
  height: fit-content;

  border-top: 1px solid var(--border);

  padding: 30px 0px;

}

.seen {

  opacity: .7;

}


.top {

  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 20px 30px;

  grid-template-areas: 'type main' 'type secondary';

  margin-bottom: 30px;

}


.type {

  grid-area: type;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: var(--secondary);
  border-radius: 3px;

}
.type img {

  height: 16px;

  filter: var(--filter);

}


.main {

  text-wrap: wrap;

  grid-area: main;

  font-size: .8125rem;

}

.main a {

  text-decoration: underline;
  text-wrap: wrap;

  transition: all .1s;
  
}

.main a:hover {

  color: var(--main);

}


.secondary {

  grid-area: secondary;

  font-size: .8125rem;

}


.bottom {

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: fit-content;

  padding-left: 70px;

}


.time {

  color: var(--secondary-text);
  font-size: .8125rem;

}



.top:not(:has(.secondary)) {

  grid-template-rows: minmax(40px, min-content);
  row-gap: 0px;

}

.top:not(:has(.secondary)) .main {

  padding-top: 10px;

}



