.container {

  width: 100%;
  height: fit-content;

}


.control {

  display: flex;
  justify-content: space-between;

  width: 100%;
  height: fit-content;

  border-bottom: 1px solid var(--border);

  padding-bottom: 30px;
  margin-bottom: 10px;

}


.controlMore {

  display: flex;
  gap: 20px;

}


.entity {

  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 30px 0px;

  border-top: 1px solid var(--border);

}

.entityControl {
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: fit-content;

}
.entityControlItem {

  display: flex;
  gap: 10px;

}

.data {

  color: var(--secondary-text);
  font-size: .8125rem;

}





.loader {

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: fit-content;

  margin-top: 50px;

}
.loader img {

  width: 20px;
  height: 20px;

  filter: var(--filter);

  animation: spin 3s linear infinite;

}
.loader span {

  color: var(--secondary-text);
  font-size: .875rem;

}

@keyframes spin {
  
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }

}

