.container {

  display: flex;
  flex-direction: column;

  width: 100%;
  height: fit-content;

}

.top {

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.title {

  font-size: .9375rem;

}
.title span {

  color: var(--main);

}

.optional {

  color: var(--main);

}

.limiter {

  float: right;

  display: flex;
  
  font-size: .8125rem;

}

.limiter.moreThan span {

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: fit-content;

}

.description {

  color: var(--secondary-text);
  font-size: .8125rem;

  margin-top: 10px;

  margin-bottom: 20px;

}



